In [28]:
def rectangleProperties(l,b):
    print("Area:",l*b)
    print("Perimeter:",2*(l+b))
rectangleProperties(20,15)

Area: 300
Perimeter: 70

In [29]:
def isEvenOrOdd(n):
    if n%2==0:
        return "Even"
    else:
        return "Odd"
print(isEvenOrOdd(12))

Even

In [30]:
def GCD(a,b):
    if b==0:
        return a
    return GCD(b,a%b)
print("GCD:",GCD(12,18))
print("LCM:",(12*18)//GCD(12,18))

GCD: 6
LCM: 36

In [31]:
def convert(s):
    hours=s//3600
    s=s%3600
    mins=s//60
    s=s%60
    print("hours:",hours,end=" ")
    print("minutes:",mins,end=" ")
    print("seconds:",s,end=" ")
convert(895463)

hours: 248 minutes: 44 seconds: 23

In [32]:
def checkLeap(year):
    if year%4==0 and year%100==0:
        print("leap year")
    elif year%100==0:
        print("not a leap year")
    elif year%4==0:
        print("leap year")
    else:
        print("not a leap year")
checkLeap(2016)

leap year

In [11]:
def isPrime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True
def printPrimes(a,b):
    for i in range(a,b+1):
        if i>1 and isPrime(i)==True:
            print(i)
printPrimes(5,23)

5
7
11
13
17
19
23

In [14]:
def fib(n):
    if n<=1:
        return n
    return fib(n-1)+fib(n-2)
for i in range(0,11):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34
55

In [16]:
def count_characters(s):
    vowels = "aeiouAEIOU"
    vowel_count = consonant_count = digit_count = special_count = 0

    for ch in s:
        if ch.isalpha():  # checks if it's an alphabet
            if ch in vowels:
                vowel_count += 1
            else:
                consonant_count += 1
        elif ch.isdigit():
            digit_count += 1
        elif not ch.isspace():  # ignore spaces
            special_count += 1

    print("Vowels:", vowel_count)
    print("Consonants:", consonant_count)
    print("Digits:", digit_count)
    print("Special Characters:", special_count)


# Example usage
text = "Hello World! 123 :)"
count_characters(text)

Vowels: 3
Consonants: 7
Digits: 3
Special Characters: 3

In [15]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
factorial(5)

120

In [20]:
import numpy as np
a=np.array([[1,2,8],[14,23,8]])
b=np.array([[18,7],[12,9],[7,8]])
print(np.dot(a,b))

[[ 98  89]
 [584 369]]

In [22]:
c=np.array([1,7,84,6])
print(np.mean(c))
print(np.median(c))
print(np.std(c))

24.5
6.5
34.42745997020402

In [25]:
import pandas as pd
df=pd.read_csv('AmazonSales.csv')
df

,Unnamed: 0,Acs,Refrigerators,Microwaves,WashingMachines,Smartphones,Laptops,Sales
0,1,230.1,37.8,69.2,69.2,69.2,69.2,22.1
1,2,44.5,39.3,45.1,45.1,45.1,45.1,10.4
2,3,17.2,45.9,69.3,69.3,69.3,69.3,9.3
3,4,151.5,41.3,58.5,58.5,58.5,58.5,18.5
4,5,180.8,10.8,58.4,58.4,58.4,58.4,12.9
...,...,...,...,...,...,...,...,...
1039,1040,987.7,873.6,844.0,844.0,844.0,844.0,855.3
1040,1041,988.7,874.6,845.0,845.0,845.0,845.0,856.3
1041,1042,989.7,875.6,846.0,846.0,846.0,846.0,857.3
1042,1043,990.7,876.6,847.0,847.0,847.0,847.0,858.3
1043,1044,991.7,877.6,848.0,848.0,848.0,848.0,859.3

In [26]:
df.describe()

,Unnamed: 0,Acs,Refrigerators,Microwaves,WashingMachines,Smartphones,Laptops,Sales
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
mean,522.500000,489.152682,373.188314,350.646935,350.646935,350.646935,350.646935,356.619732
std,301.521144,277.828085,277.696245,269.127816,269.127816,269.127816,269.127816,275.459711
min,1.000000,0.700000,0.000000,0.300000,0.300000,0.300000,0.300000,1.600000
25%,261.750000,239.875000,95.350000,73.850000,73.850000,73.850000,73.850000,77.050000
50%,522.500000,470.200000,356.100000,326.500000,326.500000,326.500000,326.500000,337.800000
75%,783.250000,730.950000,616.850000,587.250000,587.250000,587.250000,587.250000,598.550000
max,1044.000000,991.700000,877.600000,848.000000,848.000000,848.000000,848.000000,859.300000

In [33]:
def remove_punctuation_and_count(s):
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    cleaned = ""

    for ch in s:
        if ch not in punctuations:
            cleaned += ch

    words = cleaned.split()
    print("String without punctuation:", cleaned)
    print("Number of words:", len(words))

# Example
text = "Hello, world! Python is great, isn't it?"
remove_punctuation_and_count(text)

String without punctuation: Hello world Python is great isnt it
Number of words: 7

In [34]:
set1={1,4,5,12}
set2={4,6,9,16}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 4, 5, 6, 9, 12, 16}
{4}
{1, 12, 5}

In [35]:
def countOccurences(s):
    words=s.split(' ')
    freq={}
    for word in words:
        freq[word]=freq.get(word,0)+1
    print(freq)
countOccurences("I am good good")

{'I': 1, 'am': 1, 'good': 2}

In [36]:
import re

def extract_emails(s):
    pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
    emails = re.findall(pattern, s)
    print("Email addresses found:", emails)

# Example
text = "Contact us at support@example.com or info123@test.org for help."
extract_emails(text)

Email addresses found: ['support@example.com', 'info123@test.org']